.itm-head{
  text-align: center;
  padding-left: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.main-head{
  background-color: rgb(23, 23, 23);
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.main-foot{
  background-color: rgb(23, 23, 23);
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
font-family: 'Times New Roman', Times, serif;
}